@tailwind base;
@tailwind components;
@tailwind utilities;
.flex > * {
  flex: none !important;
  max-width: none !important;
}

/* Thu nhỏ thanh cuộn dọc (phía bên phải) */
::-webkit-scrollbar {
  width: 7px;
  background-color: rgb(255 255 255);
}

/* Thay đổi màu nền của thanh cuộn */
::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #717171;
}
.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: #717171;
  border-radius: 8px;
}
.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.hide-scrollbar:hover::-webkit-scrollbar {
  width: 7px;
  background-color: rgb(255 255 255);
}
.hide-scrollbar-x::-webkit-scrollbar {
  height: 0;
  background-color: transparent;
  overflow-x: auto;
}
.hide-scrollbar-y::-webkit-scrollbar {
  height: 0;
  background-color: transparent;
  overflow-y: auto;
}

div {
  /* -webkit-user-modify: read-write; */
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  line-break: strict;
}
